<div class="analyze-form">
  <div *ngIf="_selectablePages" class="form-group">
    <label>{{ 'forms.selectPagesToAnalyze' | translate }}</label>
    <ng-multiselect-dropdown [(ngModel)]="_selectedPages" [settings]="_dropdownSettings" [data]="_selectablePages"></ng-multiselect-dropdown>
  </div>

  <div *ngIf="_selectableAnalysisTypes" class="form-group">
    <label>{{ 'forms.selectPagesToAnalyze' | translate }}</label>
    <ng-multiselect-dropdown [(ngModel)]="_selectedAnalysisTypes" [settings]="_dropdownSettings" [data]="_selectableAnalysisTypes"></ng-multiselect-dropdown>
  </div>

  <div class="error">
    {{ _errorMessage }}
  </div>

  <button *ngIf="!_loading" (click)="analyze()" class="btn btn-outline-primary btn-block">
    {{ 'common.submit' | translate }}
  </button>

  <button *ngIf="!_loading" (click)="onClearSearchResult()" class="btn btn-outline-danger btn-block">
    {{ 'common.back' | translate }}
  </button>

  <div *ngIf="_loading" class="spinner-border text-primary" role="status"></div>
</div>
