<div class="wrapper">
  <h3>{{ 'config.appName' | translate }}</h3>

  <app-search-form *ngIf="!resultPages" (resultPages)="onGetResultPages($event)"></app-search-form>

  <app-analyze-form *ngIf="resultPages" (clearSearchResult)="onClearSearchResult()" (analysisResults)="onGetAnalysisResults($event)" [searchResults]="resultPages"></app-analyze-form>

  <app-results-presenter *ngIf="analysisResults" [analysisResults]="analysisResults"></app-results-presenter>
</div>
