.wrapper {
  width: 90%;
  max-width: 1200px;
  margin: 50px auto;
  overflow: hidden;
}

.imgs-container {
  display: flex;
  flex-wrap: wrap;
}

.img-small {
  flex: 0 0 33.33%;
  width: 33.33%;
}

.gone {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
}

.btn-right {
  margin: 0 0 0 480px;
  width: 40px;
}
