<div class="wrapper">
  <div *ngFor="let result of analysisResults; let ind = index">
    <button (click)="onClearAnalysisResult(ind)" class="btn btn-outline-danger btn-right">
      &#x02717;
    </button>

    <p *ngFor="let row of result.result_rows" [innerHTML]="row"></p>

    <div *ngIf="result.images.length === 1">
      <img [src]="result.images[0] | bypass">
    </div>

    <div *ngIf="result.images.length > 1" class="imgs-container">
      <div *ngFor="let img of result.images">
          <img #image [src]="img | bypass" (error)="image.hidden = true" [className]="image.hidden ? 'gone' : 'img-small'">
      </div>
    </div>
  </div>
</div>
