<div class="search-form">
  <div class="form-group">
    <label>{{ 'forms.searchPhrase' | translate }}</label>
    <input type="text" class="form-control" #searchPhrase>
  </div>

  <div class="form-group">
    <label>{{ 'forms.pageNumber' | translate }}</label>
    <input type="number" class="form-control" #pageNumber>
  </div>

  <div class="error">
    {{ _errorMessage }}
  </div>

  <button *ngIf="!_loading" (click)="search(pageNumber.value, searchPhrase.value)" class="btn btn-outline-primary btn-block">
    {{ 'common.submit' | translate }}
  </button>

  <div *ngIf="_loading" class="spinner-border text-primary" role="status"></div>
</div>

